html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: inherit;
}

h1 {
	font-size:300%;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	text-align: center;
}
h2 {
	font-size: 12px;
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
}
h3 {
	font-size: 12px;
	font-style: italic;
	color: grey;
	text-align: center;
	margin-top:5px;
	margin-bottom:5px;
}
h4 {
	font-size: 14px;
	font-weight:600;
	text-align: center;
	margin-bottom:5px;
}
p {
	text-align: left;
}

.pop{fill:green;}
.soda{fill:rgb(60,100,255);}
.coke{fill:#FF3333;}
.other{fill:purple;}
.none{fill:#994C00}
.null{fill:grey;}
.unselected{fill:lightgrey;}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.selected_county {
	fill: none;
	stroke: yellow;
	stroke-opacity: 1;
}

.legend {
	font-family: inherit;
	font-size: 12px;
}

.legend_title{
	text-align: left;
	word-wrap: normal;
	text-a
}

.tooltip{
	font-family: inherit;
	font-size: 12px;
	padding-left:4px;
	padding-right:4px;
	text-align: center;
	background-color: white;
	font-weight:600px;
}

.bar{
	text-anchor:middle;
	padding-left:4px;
	padding-right:4px;
	font-size: 10px;
}

.city{
	font-size: 12px;
	text-anchor: start;
	font-weight: 600;
	fill: black;
}

.guide{
	position:absolute;
	width:150px;
	left:820px;
	top:360px;
	font-size:12px;
	text-align: justify
	z-index: +3;
}

#guide_overall{
	display: inherit
}
#guide_pop, #guide_soda, #guide_coke, #guide_other, #guide_none, #guide_null{
		display: none;
}

#Loading{
	position:absolute;
	width:150px;
	left:384px;
	top:250px;
	font-size: 20px;
	z-index: -1;
}

#sources{
	display:inherit;
	position:absolute;
	left:10px;
	top:620px;
	font-size: 10px;
}