	h1 {
		font-family:sans-serif;
		text-align: center;
	}
	h2{
		font-family:sans-serif;
		font-size: medium;
		text-align: center;
	}
	.states {
	  fill: none;
	  stroke: #fff;
	  stroke-linejoin: round;
	}
	
	.selected_county {
		fill: none;
		stroke: yellow;
		stroke-opacity: 1;
	}
	
	.legend {
		font-family: sans-serif;
		font-size: small
	}
	
	.legend_title{
		text-align: left;
		word-wrap: normal;
	}

	.tooltip{
		font-family: sans-serif;
		font-size: 12px;
		text-align: center;
		background-color: white;
	}
	
	.bar{
		text-anchor:middle;	
	}